@charset "UTF-8";

body {
    background-color: rgb(150, 245, 147);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(55, 110, 52);
}

h1#principal {
    text-align: center;
    color: white;
    background-color: rgb(55, 110, 52);
}

h2 {
    color: rgb(46, 105, 39);
}

.basico {
    color: rgb(46, 105, 39);
    font-weight: bold;
    
}

.intermediario {
    color: rgb(104, 105, 39);
}
    
.avancado {
    color: rgb(105, 39, 39);
}